<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.PersonMapper">
	<select id="findAll" parameterType="personVo" resultType="personVo">
		SELECT p.*,c.express_name cname FROM express_company c,express_person p 
		WHERE c.id=p.express_type_id
		<if test="expressName!=null and expressName!=''">
			and p.express_name like '%${expressName}%'
		</if>
		<if test="expressTypeId!=null and expressTypeId!=''">
			and p.express_type_id=#{expressTypeId}
		</if>
		<if test="entryTime1!=null">
			and p.entry_time &gt;= #{entryTime1}
		</if>
		<if test="entryTime2!=null">
			and p.entry_time &lt;= #{entryTime2}
		</if>
	</select>
	<select id="findE" resultType="personVo">
		SELECT c.express_name cname,COUNT(p.id) num FROM express_company c LEFT JOIN express_person p ON c.id=p.express_type_id GROUP BY c.id 
	
	</select>
</mapper>